:root {
  --nav-color: #8f8989;
  --primary-color: #20252d;
  --secondary-color: #cccccc;
  --off-white: #f1f1ee;
  --opacity: 0.7;
  --gridGap: 15px;
  --titleSize: 50pt;
  --mobileTitleSize: 35pt;
  --bioSize: 25pt;
  --mobileBioSize: 15pt;
  --mobileIconSize: 50pt;
  --nav-font-size: 12pt;
  --movementDarkBlue: #001f5b;
  --movementLightBlue: #009ca6;
  --movementYellow: #ede04b;
  --movementGrey: #5b6770;
  --movementWhite: #fff;
  --movementBlueGrey: #abb8c3;
  --movementMidGrey: #c1c6c8;
  --movementFooterWidth: 80vw;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.fa-angles-down,
.fa-location-dot,
.fa-facebook-f,
.fa-instagram,
.fa-youtube {
  color: var(----movementYellow);
}
.fa-house {
  color: var(--movementWhite);
}
.fa-arrow-right {
  color: var(--movementDarkBlue);
}
.trade_a_belay {
  font-family: montserrat, sans-serif;
  font-weight: 400;
  max-width: 100vw;
}
.movement_nav_bar {
  display: flex;
  flex-direction: column;
}
.movement_nav_ad {
  background-color: #001f5b;
  text-align: center;
  color: #fff;
  padding: 16px 0px;
  font-size: 13pt;
}
.add_more {
  color: #ede04b;
  display: inline;
}
.movement_small_nav {
  background-color: #5b6770;
  display: flex;
  justify-content: flex-end;
  font-size: 10pt;
}
.small_nav_list {
  list-style: none;
  font-weight: bold;
}
.small_nav_item {
  display: inline;
  padding: 10px;
}
.white {
  color: #fff;
}
.yellow {
  color: #ede04b;
}
.movement_large_nav {
  background-color: #001f5b;
  display: grid;
  color: #fff;
  padding: 30px;
}
.movement_logo_nav {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  background-image: url("Images/movement.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 268px;
}
.large_nav_list {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
.large_nav_item {
  display: inline;
  list-style: none;
  padding: 10px;
  font-weight: bold;
}
.large_nav_location {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
}
.belay_body {
  background-color: #c1c6c8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.belay_bios {
  display: flex;
  flex-direction: column;
  width: 90vw;
  background-color: #5b6770;
  margin-top: 20px;
}
.belay_bio1,
.belay_bio2,
.belay_bio3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45vw;
  border: 2px #abb8c3 solid;
  margin-top: 20px;
  padding: 10px;
  box-shadow: 5px 10px #fff;
}
.belay_bio1,
.belay_bio3 {
  align-self: flex-start;
  background-color: #abb8c3;
  color: #001f5b;
  margin-left: 20px;
}
.belay_bio2 {
  align-self: flex-end;
  background-color: #abb8c3;
  color: #001f5b;
  margin-right: 20px;
}
.belay_bio3 {
  margin-bottom: 30px;
}
.movement_bio_img {
  width: 250px;
  padding-right: 20px;
}
.belay_bio_question {
  font-weight: bold;
}
.belay_form {
  padding: 20px;
  margin: 20px;
  background-color: #001f5b;
  color: #fff;
  font-size: 15pt;
}
.belay_form_fieldset {
  border: 2px #fff solid;
}
#movement_name,
#movement_style,
#movement_gym,
#movement_message,
#movement_contact {
  background-color: #fff;
  color: black;
  font-size: 15pt;
}
.movement_post {
  font-size: 15pt;
  border-radius: 5px;
}
.movement_footer_main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5b6770;
  height: 60vh;
}
.movement_footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 80vw;
  height: 40vh;
}
.movement_footer_1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80vw;
}
.movement_footer_newsletter_text {
  background-color: #ede04b;
  color: #001f5b;
  padding: 15px 25px;
  align-self: center;
  font-size: 15pt;
}
.movement_footer_social {
  align-self: center;
  font-size: 22pt;
  display: flex;
  justify-content: space-between;
  width: 150px;
}
.movement_footer_2 {
  display: flex;
  justify-content: flex-start;
  color: #fff;
  width: 80vw;
}
.footer_box_list {
  border-right: 1px solid #fff;
  padding-right: 10px;
}
#footer_box4_list {
  border: none;
}
.footer_box_item {
  list-style: none;
}
.movement_footer_3 {
  display: flex;
  justify-content: space-between;
  width: 80vw;
}
.movement_copy {
  color: #fff;
  align-self: center;
}
.movement_logo_vertical {
  height: 90px;
}
