:root {
  --darkBlue: #001f5b;
  --lightBlue: #009ca6;
  --yellow: #ede04b;
  --grey: #5b6770;
  --white: #fff;
  --blueGrey: #abb8c3;
  --midGrey: #c1c6c8;
  --dots: #66666660;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100dvw;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  max-width: 100vw;
}
button,
input,
select,
textarea {
  cursor: pointer;
}
.fa-angles-down,
.fa-location-dot,
.fa-meta,
.fa-instagram,
.fa-youtube {
  color: var(--yellow);
}
.fa-house {
  color: var(--white);
}
.nav-bar {
  display: flex;
  flex-direction: column;
}
.nav-ad {
  background-color: var(--darkBlue);
  text-align: center;
  color: var(--white);
  padding: 16px 0px;
  font-size: 13pt;
}
.ad-more {
  color: var(--yellow);
  display: inline;
  margin-left: 15px;
}
.small-nav {
  background-color: var(--grey);
  display: flex;
  justify-content: flex-end;
  font-size: 10pt;
  padding-right: 10px;
}
.small-nav-list {
  list-style: none;
  font-weight: bold;
}
.small-nav-item {
  display: inline;
  padding: 10px;
}
.white {
  color: var(--white);
}
.yellow {
  color: var(--yellow);
}
.large-nav {
  background-color: var(--darkBlue);
  display: grid;
  color: var(--white);
  padding: 30px;
}
.logo-nav {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  background-image: url("Images/movement.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 268px;
}
.large-nav-list {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
.large-nav-item {
  display: inline;
  list-style: none;
  padding: 10px;
  font-weight: bold;
}
.fa-location-dot {
  padding-right: 5px;
}
.large-nav-location {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
}
.belay-content {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100dvw;
}
.bios {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 98dvw;
  background-color: var(--midGrey);
  margin-top: 20px;
}
.outer-dots {
  width: 97dvw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0px;
  background: radial-gradient(
        var(--dots) 10%,
        var(--midGrey) 15%,
        var(--midGrey) 80%
      )
      left repeat-y,
    radial-gradient(var(--dots) 10%, var(--midGrey) 15%, var(--midGrey) 80%)
      right repeat-y;
  background-size: 20px 20px;
}
.inner-dots {
  width: 95dvw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  background: radial-gradient(
        var(--dots) 10%,
        var(--midGrey) 15%,
        var(--midGrey) 80%
      )
      left repeat-y,
    radial-gradient(var(--dots) 10%, var(--midGrey) 15%, var(--midGrey) 80%)
      right repeat-y;
  background-size: 20px 20px;
}
.bio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  border: 2px var(--blueGrey) solid;
  margin: 20px;
  background-color: var(--lightBlue);
  color: var(--white);
  font-size: 12pt;
}

.bio-img {
  width: 400px;
  height: 400px;
  object-fit: cover;
}
.bio-content {
  width: 380px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 15px 10px;
}
.bio-left {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: space-evenly;
}
.bio-right {
  width: 66%;
}
.bio-name {
  font-weight: bold;
  font-size: 18pt;
  margin-bottom: 5px;
}
.name-line {
  width: 40px;
  border-bottom: solid var(--white) 2px;
  padding: 2px;
}
.form {
  width: 98dvw;
  background-color: var(--darkBlue);
  color: var(--white);
  font-size: 15pt;
  margin-bottom: 20px;
  padding: 15px 0px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
form {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form p {
  text-align: center;
  font-weight: 400;
  font-size: 20pt;
}
.form-top {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.form-left {
  padding-right: 10px;
}
.form-right {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.form-left label {
  display: block;
}
#name,
#style,
#gym,
#contact {
  background-color: var(--white);
  color: black;
  font-size: 15pt;
  margin: 5px 0px;
  width: 350px;
  height: 30px;
  border: none;
}
#message {
  background-color: var(--white);
  color: black;
  font-size: 15pt;
  margin: 5px 0px;
  width: 430px;
  height: 230px;
  border: none;
}
#name:hover,
#style:hover,
#gym:hover,
#contact:hover,
#message:hover {
  background-color: var(--lightBlue);
}
.form-bottom {
  display: flex;
  justify-content: space-evenly;
  width: 800px;
}
.file-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 5px;
}
input[type="file"] {
  position: absolute;
  z-index: -1;
  top: 10px;
  left: 8px;
  font-size: 17px;
  color: #b8b8b8;
}
.button-wrap {
  position: relative;
}
.upload-button {
  display: inline-block;
  padding: 12px 18px;
  cursor: pointer;
  border-radius: 5px;
  background-color: var(--white);
  font-size: 12pt;
  font-weight: bold;
  color: var(--darkBlue);
}
.upload-button:hover {
  background-color: var(--lightBlue);
}
.post-button {
  font-size: 12pt;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  background-color: var(--white);
  padding: 12px 18px;
  margin: 5px;
}
.post-button:hover {
  background-color: var(--lightBlue);
}
.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--grey);
  width: 100dvw;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 80dvw;
  margin: 20px;
}
.footer-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80vw;
}
.footer-newsletter-text {
  background-color: var(--yellow);
  color: var(--darkBlue);
  padding: 15px 25px;
  align-self: center;
  font-size: 15pt;
}
.fa-arrow-right {
  color: var(--darkBlue);
  padding-left: 5px;
}
.footer-social {
  align-self: center;
  font-size: 22pt;
  display: flex;
  justify-content: space-between;
  width: 150px;
}
.footer-2 {
  display: flex;
  justify-content: flex-start;
  color: var(--white);
  width: 80vw;
}
.footer-box-list {
  border-right: 1px solid var(--white);
  padding-right: 10px;
}
#footer-box4-list {
  border: none;
}
.footer-box-item {
  list-style: none;
}
.footer-3 {
  display: flex;
  justify-content: space-between;
  width: 80vw;
}
.copy {
  color: var(--white);
  align-self: center;
}
.logo-vertical {
  height: 90px;
}
